.form-login {
    margin: auto;
    display: flex;
    flex: wrap;
    justify-content: center;
    width: 40%;
}

.form-login input {
    width: 90%;
    padding: 1em 0;
    margin: 20px 0px;
}

.loginBtn {
    padding: .6em 0;
    width: 10em;
    background: rgb(8, 15, 53);
    color: #fff;
}

.btn-back {
    background: rgb(8, 15, 53);
    color: #fff;
    text-decoration: none;
    padding: 3px;
}

.center {
    text-align: center;
}