@media (max-width: 700px) {

    .form-data-input {
        width: 60%;
    }

    .form-data-btn {
        width: 40%;
    }

    .search {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-content: center;
    }

    :root {
        --px10: 10px
    }

    .searchingName {
        width: 100%;
        margin-bottom: 2em;
    }

    .searchingId {
        width: 100%;
        padding:1em;
        margin-top: 1em;
    }

    #searchByNameBtn {
        margin: var(--px10)
    }

    #SearchIdBtn {
        margin: var(--px10)
    }
}