@media (max-width: 700px) {

    .form-data-input {
        width: 60%;
    }

    .form-data-btn {
        width: 40%;
    }

    .search {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-content: center;
    }

    .searchingName {
        width: 100%;
    }

    .searchingId {
        width: 100%;
    }
}